/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none !important;
}

/* Hide scrollbar for IE, Edge legacy */
.scrollbar-hide {
  -ms-overflow-style: none !important;
}


.logo-marquee {
  animation: scroll-left 20s linear infinite;
}

.logo-marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

a {
  text-decoration: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.18s ease-out;
}

.bg-desktop {
  background-image: url('/images/Login_Banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {

  .bg-desktop {
    background-image: none !important;
  }
}

@media (max-width: 768px) {
  .bg-login {
    background-image: none !important;
    padding-right: 0 !important;
    justify-content: center !important;
  }
}