/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none !important;
}

/* Hide scrollbar for IE, Edge legacy */
.scrollbar-hide {
  -ms-overflow-style: none !important;
}


.logo-marquee {
  animation: scroll-left 20s linear infinite;
}

.logo-marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
